<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Pagina 1</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js" integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });

        socket.on('message', function (data) {
            console.log("Message!")
            console.log(data)

            if ("window" in data) {
                switch (data.window) {
                    case 0:
                        // console.log("Index")
                        location.href = "/"
                        break

                    case 1:
                        // console.log("Pagina 1")
                        location.href = "/pagina1"
                        break
                }
            }
        });
    </script>
</body>
</html>