version: '3'
services:
  web:
    build: ./web
    restart: on-failure
    ports:
      - "8081:8080"
    networks:
      - internal

  nginx:
    build: ./nginx
    restart: on-failure
    ports:
      - "8080:80"
    depends_on:
      - web
    networks:
      - internal

networks:
  internal:
