@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


body {
    overflow-x: hidden;
}

.bannerimg {
    position: relative;
    max-width: 100vw;
    clip-path: polygon(100% 0, 100% 30%, 45% 80%, 0 30%, 0 0);
}

.content {
    display: flex;
    position: absolute;
    bottom: 25%;
    text-align: justify;
}

.content div {
    padding-left: 20px;

}

.contentImg {
    /*max-height: 20%;
    width: auto;*/
    max-width: 100%;
    height:auto;
    object-fit: contain;
}
#verticalImg{
    max-height: 50%;
}

.fa-home {
    color: #287abe;
}

h2  {
    font-family: 'Staatliches', sans-serif;
    border-bottom: #287abe solid 2px;
    border-right: none;
    padding-right: 20px;
    padding-bottom: 10px;
    display: inline-block;
}

.text-justify {
    text-align: justify;
}

footer {
    background: linear-gradient(90deg, rgba(1,62,142,1) 0%, rgba(2,78,153,1) 50%, rgba(1,46,113,1) 1000%);
    z-index:1;
    height:28px;
    width:100%;
    padding-bottom: 4.5px;
}
footer div {
    color: #eee;
}
footer a{
    color: white;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    h2 {
        text-align: right;
        border-bottom: none;
        border-right: solid 2px #287abe;
        padding-right: 1.4vw;
    }

    body {
        overflow: hidden;
    }


}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    100% {
        transform: translateX(100%);
    }
    0% {
        transform: translateX(0);
    }
}


.slide {
    transition: 2s;
    font-family: 'Poppins', sans-serif;
    -webkit-animation: slideFade 2s backwards;
    -webkit-animation-delay: 2s;
    animation: slide 1.2s, fadeIn 1.5s ease-out ;

}

@-webkit-keyframes slide {
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(-3vh);
    }
}

@keyframes slide {
    100% {
        transform: translateX(0);}
    0% {
        transform: translateX(-3vh);}
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.videost{
    height: auto;
    width: 34vw
}



@media screen and (max-width: 576px){
    .slide {
        animation: none;
    }
    .videost{
        height: auto;
        width: 100vw
    }
}
@media screen and (max-width: 756px){
    .slide {
        animation: none;
    }
    .videost{
        height: auto;
        width: 80vw
    }
}
@media screen and (min-width: 1024px){
    .slide{
        font-size: 19px;
    }
}
/*.heading{
    animation: 1s ease-out 0s 1 slideInFromRight;
}
 */
